$contentBackground: #ffffff;
$gradientOne: #61911d;
$gradientColors: (   
    one:#639317,
    two: #2d5bd5);
$colorButton: #699900;
$bacgroundConteiner: #21232e;
$colorFooterText: #c0c3ce;
$colorText: #2c2f3c;
$backgroundImage:"../img/m-h-day.jpg";
$bacgroundTextColor: #14a0c7;
$anotherFont: 'Source Sans Pro', sans-serif;