$contentBackground: #21232e;
$gradientColors: (
    one: #dfa504,
    two: #96324f);
$bacgroundTextColor: #ff4e33;
$colorButton: #e3ac00;
$bacgroundConteiner: #3b3f50;
$colorFooterText: #ffffff;
$colorText: #ffffff;
$backgroundImage:"../img/m-h-night.jpg";
$anotherFont: 'Fresca', sans-serif;